# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment
.venv/
venv/
env/
.env

# Project specific
.vscode/
.idea/
.DS_Store
